#car-pop-mask{
    display:block;
    width:100%;
    height:100%;
    background:#000;
    z-index: 999999;
    position:absolute;
    position:fixed;
    top:0;
    left:0;
}


.car-popup {
    display: block;
    width: 500px;
    height: 380px;
    padding: 10px 10px 30px;
    opacity: 1;
    -webkit-transform: scale(1);
    -webkit-transition: all  0.20s  ease-in-out;
    transform:scale(1);
    transition: all 0.20s  ease-in-out;
    position: absolute;
    z-index: 1000000;
    top: 50%;
    left: 50%;
    margin: 0px auto;
    background: #fff;
    color:#555;
    box-shadow:1px 1px 1px #777;
    -webkit-box-shadow:1px 1px 1px #777;
    
    -moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}
.car-popup >* {
color:inherit;
}
.car-popup a{text-decoration: none;}

.car-popup.hidden {
    opacity: 0;
    -webkit-transform: scale(0);
    top: 50%;
    left: 50%;
    margin: 0px auto;
}

.car-popup>header{

    font-size:34px;
    margin:0;
    padding:0;
    background: #FFFFFF;
    color: #F04E30;
    height: 50px;
    line-height: 50px;
    text-indent: 10px;
    text-align: center;
    border-bottom: 3px solid #F04E30;
}

.car-popup>div{
	width: 85%;
    font-size:14px;
    margin: 65px auto -150px;
    line-height: 1.8;
}

.car-popup>footer{
    width:85%;
    text-align:center;
    display:block !important;
    
    margin: 10px auto;
}

.car-popup .car-popup-cancel,.car-popup .car-popup-ok{
    float:right;
    width: 200px;
    height: 68px;
    background: #A4AAB0;
    color:#fff;
    font-size: 32px;
    line-height: 68px;
    -moz-border-radius: 7px;
	-webkit-border-radius: 7px;
	border-radius: 7px;
	vertical-align: middle;
}

.car-popup .car-popup-ok{
    float:left;
    background: #F04E30;
    color: #fff;
}

.car-popup a.center{
    float:none!important;
    width:100%;
    margin:auto;
    display: block;
}

.alertTextArea{
    width: 611px;
    height: 295px;
    color: #7F878F;
    font-size: 28px;
    border: 1px solid #cdcdcd;
    resize: none;
}
/*删除确认*/
.divCenter{
	display: block; 
	width: 80%; 
	text-align: center;
	margin: 0px auto;
}

.divspan{
    color: #000000;
    font-size: 28px;
}



