@font-face {
    font-family:DSF;
    src: url(dsf.TTF);
}
body{
    font-family:DSF;
    font-size:28px;
    background-color:#f0f0f0;
}
*{
    margin:0;
    padding:0;
}
html,body{
    -webkit-text-size-adjust:none;
    height: 100%;
}
ul li{
    list-style:none;
}
a{
    text-decoration:none;
}
button{
    border: none;
}
input{
    -webkit-tap-highlight-color:rgba(0,0,0,0);
}

/*================================================headerR=============================================================*/
.headerR{
    width:100%;
    height:96px;
    overflow:hidden;
    margin:0 auto;
    background-color:#3e454d;
    position: fixed;
    top: 0;
    z-index: 1000;
}
.headerR_under{
    z-index:100;
    width:100%;
    height:96px;
    position: relative;
    top: 0;
}
.headerR ul{
    width:100%;
}
.headerR ul li{
    list-style:none;
    float:left;
}
.back{
    margin-left:5%;
    margin-top:30px;
    background-image: url(../images/fanhui.png);
    width:32px;
    height:32px;
}
.back a{
    display:block;
    width:100%;
    height:100%;
}
.shuxian{
    height:40px;
    margin-left:5%;
    margin-top:28px;
    background-color:#21262b;
}
.wenzi{
    margin-left:5%;
    margin-top:30px;
    height:36px;
    line-height:36px;
    color:#fafafa;
    font-size:36px;
}
/*============================================销售线索header==========================================================*/
.headerR .sale_nav{
    width: 622px;
    margin: 0 auto;
}
.headerR .sale_nav li{
    margin-left: 0;
}
.headerR .sale_nav li a,.headerR .filter{
    color: #cbced1;
}
.headerR .myself,.headerR .filter,.headerR .editBar{
    float: right;
    line-height: 28px;
    margin-top: 25px;
}
.headerR .sale_nav li a{
    display: inline-block;
    padding: 6px 20px 6px 32px;
    background: url(../images/sale_myself.png) no-repeat 0 6px;
}
.filter{
    padding: 6px 13px 6px 50px;
    background: #5d656e url(../images/sale_filter.png) no-repeat 13px 11px;
}

.editBar{
    padding: 6px 43px 6px 50px;
    background: url(../images/edit_bar.png) no-repeat 13px 11px;
    color: #CBCED1;
}
/*============================================线索详情xiansuoInfo=====================================================*/
.content_sale{
    width: 712px;
    margin: 20px auto 0px;
}
.content_sale >div{
    border: 1px solid #cbced1;
    margin: 30px auto 40px;
    border-radius: 3px;
    background-color: white;
}
.content_sale .xiansuo_info01{
    margin-bottom: 10px;
}
.xiansuo_info{
    padding: 40px 51px 0;
}
.xiansuo_info>div{
    color: #5d656e;
    margin-bottom: 25px;
}
.xiansuo_info .person_info{
    font-size: 34px;
    color: #21262b;
}
.person_info span{
    margin-right: 15px;
}
.person_info div{
    font-size: 24px;
    color: #7f878f;
    padding: 10px 0;
}
.xiansuo_info .person_info_red{
    font-size: 34px;
    color: #F04E30;
    padding-bottom: 22px;
    border-bottom: 1px solid #d8d8d8;
    margin-bottom: 17px;
}
.person_info_red span{
    /*margin-right: 35px;*/
}

.baoxian{
    position: relative;
}
.baoxian ul{
    position: absolute;
    left: 74px;
    top: -5px;
}
.baoxian ul li{
    float: left;
    padding: 5px 16px;
    border-radius: 7px;
    color: white;
    background-color: #7f878f;
    margin-right: 10px;
}
.baoxian01 ul li{
    background-color: #f7941d;
}
.baoxian + div{
    /*padding-bottom: 22px;*/
    /*border-bottom: 1px solid #d8d8d8;*/
    margin-bottom: 17px;
}

.baoxian_{
    position: relative;
    vertical-align: middle;
}
.baoxian_ ul{
    position: absolute;
    left: 75px;
    top: -5px;
}
.baoxian_ ul li{
    float: left;
    padding: 5px 16px;
    border-radius: 7px;
    color: white;
    background-color: #7f878f;
    margin-right: 10px;
}
.baoxian_1 + div{
    padding-bottom: 22px;
    border-bottom: 1px solid #d8d8d8;
    margin-bottom: 17px;
}
/*完善销售线索-编辑按钮*/
.right_toolbar {
	float: right;
	/*width:133px;*/
	width: 187px;
	height: 63px;
	background-color: #F04E30;
	/*border:2px #f04e30 solid;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius:5px;*/
	text-align: left;
	/*width:95%;*/
	margin: -20px -58px 0px 0px;
	/*color:#a0a0a0;
	letter-spacing: -1px;*/
	 z-index: 200;
}
/*我的销售线索-删除按钮*/
.right_toolbar_own{
    width: 116px;
}

.right_toolbar a {
	font-size: 30px;
	color: #f04e30
}
.right_toolbar  img{
	padding: 12px 16px 0px 0px;
}

.right_toolbar_add {
	position: fixed; 
	right:70px;
	bottom:227px;
	z-index: 888;
	width: 90px;
	text-align: center;
	/*width:95%;*/
	/*margin: -138px 45px 0px 0px;*/
	/*color:#a0a0a0;
	letter-spacing: -1px;*/
}
.right_toolbar_add span{
	font-size: 24px;
    line-height: 24px;
	color: #f04e30;
    position: relative;
    top: -12px;
}

.xiansuo_info .date{
    font-size: 24px;
    height: 53px;
    line-height: 53px;
    margin-bottom: 0px;
    border-top: 1px solid #d8d8d8;
}


/*添加 弹出框样式  start*/
#car-pop-mask{
    display:block;
    width:100%;
    height:100%;
    background:#000;
    z-index: 999999;
    position:absolute;
    position:fixed;
    top:0;
    left:0;
}
.car-popup {
    display: block;
    width: 715px;
    height: 540px;
    padding: 30px 1px 30px;
    opacity: 1;
    -webkit-transform: scale(1);
    -webkit-transition: all  0.20s  ease-in-out;
    transform:scale(1);
    transition: all 0.20s  ease-in-out;
    position: absolute;
    z-index: 1000000;
    top: 50%;
    left: 50%;
    margin: 0px auto;
    background: #F0F0F0;
    color:#555;
    box-shadow:1px 1px 1px #777;
    -webkit-box-shadow:1px 1px 1px #777;
}
.car-popup >* {
color:inherit;
}
.car-popup a{text-decoration: none;}

.car-popup.hidden {
    opacity: 0;
    -webkit-transform: scale(0);
    top: 50%;
    left: 50%;
    margin: 0px auto;
}

/*.car-popup>header{

    font-size:16px;
    margin:0;
    padding:0;
    background: #eee;
    color: #888;
    height: 30px;line-height: 30px;text-indent: 10px;
}*/
.divCenter>header{

    font-size:34px;
    margin:0;
    padding:0;
    /*background: #FFFFFF;*/
    color: #F04E30;
    height: 50px;
    line-height: 50px;
    text-indent: 10px;
    text-align: center;
    border-bottom: 3px solid #F04E30;
}
/*.car-popup>div{
	width: 85%;
    font-size:14px;
    margin: 65px auto 45px;
    line-height: 1.8;
}*/

.car-popup>footer{
    width:85%;
    text-align:center;
    display:block !important;
    
    margin: 10px auto;
}

.car-popup .car-popup-cancel,.car-popup .car-popup-ok{
    float:right;
    width: 280px;
    height: 88px;
    background: #A4AAB0;
    color: #FEFEFE;
   /* color:#555;*/
    font-size: 32px;
    line-height: 88px;
    -moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	vertical-align: middle;
}

.car-popup .car-popup-ok{
	
    float:left;
    background: #F04E30;
    font-size: 32px;
    /*color: #fff;*/
    font-family:DSF;
    border: none;
}

.car-popup a.center{
    float:none!important;
    width:100%;
    margin:auto;
    display: block;
}

.field {
    clear: both;
    overflow: hidden;
    padding-top: 12px;
    text-align: center;
    vertical-align: middle;
}
.field label {
    float: left;
    font-size: 28px;
    line-height: 32px;
    text-align: right;
    width: 295px;
    margin: 8px 3px;
}
.field input {
	float: left;
	width: 295px;
    border: 1px solid #CBCED1;
    font-size: 24px;
    color: #CBCED1;
    line-height: 28px;
    vertical-align: middle;
    padding: 1px;
    margin: 8px 3px;
}
.field span {
	float: left;
	width: 295px;
    font-size: 20px;
    color: #f0593d;
    line-height: 20px;
    text-align: left;
    vertical-align: top;
    padding: 1px;
    margin: -2px 0px;
}
.field .label_info {
    float: left;
    font-size: 24px;
    color: #7F878F;
    line-height: 32px;
    text-align: center;
    width: 466px;
    margin: 2px 140px;
}
/*删除确认*/
.divCenter{
	display: block; 
	width: 80%; 
	height: 340px;
	text-align: center;
	margin: 0px auto;
}

.divspan{
    color: #000000;
    font-size: 28px;
}
/*添加 弹出框样式  end*/
.money{
    padding: 70px 0 0;
}
.money div{
    text-align: center;
    margin-bottom: 25px;
}
.money div:first-child{
    color: #1f1f1f;
    font-size: 32px;
    height: 32px;
    line-height: 32px;
}
.money div:nth-child(2){
    color: #f04e30;
    font-size: 34px;
}
.money div:nth-child(2) span{
    font-size: 72px;
}
.money div:nth-child(3){
    font-size: 32px;
    color: #5d656e;
    margin-bottom: 0;
}
.money button{
    width: 370px;
    height: 88px;
    color: #fefefe;
    font-size: 28px;
    background-color: #7f878f;
    border-radius: 5px;
    border: none;
    margin: 10px 171px;
    font-family:DSF;
    display: none;
}
.money div:last-child{
    color: #a4aab0;
    margin:50px auto 40px;
}
.money div:last-child input{
    display: inline-block;
    height: 23px;
    width: 23px;
}
.money div:last-child a{
    color: #3e454d;
}
.content_sale .qiang{
    width: 146px;
    height: 146px;
    border: 6px solid #f04e30;
    border-radius: 79px;
    font-size: 72px;
    color: #f04e30;
    line-height: 72px;
    text-align: center;
    background-color: #f0f0f0;
    margin: 40px 277px;
}
/*余额不足，按钮失效*/
.content_sale .qiang_disabled{
    border: 6px solid #a4aab0;
    color: #a4aab0;
    width: 146px;
    height: 146px;
    border-radius: 79px;
    font-size: 72px;
    line-height: 72px;
    text-align: center;
    background-color: #f0f0f0;
    margin: 40px 277px;
}
/*=====================================================销售线索saleXiansuo============================================*/
.guanzhu{
    height: 60px;
    background-color: white;
    color: #7f878f;
    font-size: 24px;
    padding: 0 51px;
}
.guanzhu ul,.guanzhu span{
    float: left;
    line-height: 24px;
    margin-top: 18px;
    margin-right: 20px;
}
.guanzhu ul li{
    float: left;
    margin-right: 20px;
}
.content_saleXiansuo{
    margin: 32px auto;
    width: 712px;
    border: 1px solid red;
}

.dataLiA {
	float: right;
	/*width: 133px;*/
	height: 44px;
	/*border:2px #f04e30 solid;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius:5px;*/
	/*text-align: center;*/
	/*width:95%;*/
	/*margin: 0px 0px 0px 180px;*/
	/*color:#a0a0a0;
	letter-spacing: -1px;*/
}

.dataLiA a {
	font-size: 32px;
	color: #f04e30;
}
.dataLiB {
	float: right;
	/*width: 133px;*/
	height: 44px;
	/*border:2px #f04e30 solid;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius:5px;*/
	/*text-align: center;*/
	/*width:95%;*/
	/*margin: 0px 0px 0px 180px;*/
	/*color:#a0a0a0;
	letter-spacing: -1px;*/
}

.dataLiB a {
	font-size: 32px;
	color: #7F878F;
}
.person_info .dataLiA,
.person_info .dataLiB{
    margin-right: 0;
    margin-top: -30px;
}
.nameLi {
	position: relative;
	/*width:100%;*/
	height: 60px;
}

.nameLi1 {
	margin: 10px 10px 10px 90px;
	width: 40%;
	float: left;
	font-size: 32px;
	/*text-decoration: underline;*/
	vertical-align: middle;
	color: #5D656E;
	/*border: 1px solid green;*/
}

.nameLi1 img {
	position: absolute;
	left: 40px;
	top: 12px;
}

.nameLi2 {
	text-align: right;
	width: 40%;
	margin: 10px 30px 10px 10px;
	float: right;
	font-size: 32px;
	/*text-decoration: underline;*/
	vertical-align: middle;
	color: #5D656E;
}

.nameLi2 img {
	position: absolute;
	left: 60%;
	top: 13px;
}
.mainF_nouse {
	margin-top: 100px;
	width: 90%;
	position: fixed;
	left: 65px;
	bottom: 0px;
	z-index: 999;
}
.mainF {
	margin-top: 100px;
	width: 90%;
	height: 230px;
	position: fixed;
	left: 65px;
	bottom: 0px;
	z-index: 999;
}
.nameP {
	margin: auto;
	width: 591px;
	/*cursor: pointer;*/
	padding: 40px 0;
	font-size: 15px;
}
.mainBtn {
	/*margin: 50px auto 10px;*/
	width: 591px;
	height: 88px;
	cursor: pointer;
	color: #f0f0f0;
	line-height: 88px;
	font-size: 32px;
	font-family: DSF;
	background-color: #f04e30;
	border: 0px;
	outline: none;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}
.mainBtnGray				
	{
	/*margin: 30px auto 36px;*/
	width: 591px;
	height: 88px;
	cursor: pointer;
	color: #5d656e;
	line-height: 88px;
	font-size: 32px;
	font-family: DSF;
	background-color: #fff;
	border: 0px;
	outline: none;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}	

.content_sale .divbgWhite {
    margin: 0;
    background-color: #cbced1;
}
.divbgWhite span{
	color: #21262b;
	font-size: 32px;
	/*display: block;*/
    margin-left: 55px;
}
.content_sale .divbgHorizontalAlign {
	margin: 0px auto;
	width: 90%;
	text-align: center;
    padding-bottom: 30px;
}
.content_sale .sale_ul{
    width:100%;
    height:60px;
    vertical-align: middle;
    line-height:60px;
     border-bottom:2px #fbfbfb solid; 
  	
   background: none;
}
.content_sale .sale_ul a {
	color: #F04E30;
	cursor: pointer;
}
.content_sale .sale_ul a:visited {
	/*border-bottom:1px #dbdcde solid;*/
}  /* 已访问的链接 */

.sale_ul .ul_liSpan{
	display: inline;
	float:left;
    font-size:28px;
    color: #5D656E;
   /* vertical-align: middle;*/
}
.sale_ul li:nth-child(2) span{
    border-radius: 7px;
    padding: 5px 10px;
    color: #fefefe;
}
.sale_ul .sale_ul_tel{
    background-color: #419fdc;
}
.sale_ul .sale_ul_mess{
    background-color: #f7941d;
}
.r_iptspan{
    font-size:28px;
    color: #5D656E;
   /* vertical-align: middle;*/
}
.next{
    width: 16px;
    height: 32px;
   /* background: url("../images/next.png") no-repeat;*/
    float: right;
    margin-right: 5%;
    margin-top: 44px;
    
    color: #f0593d;
}

.content_sale_own{
	position: fixed;
    z-index: 300;
    width: 100%;
    height: 63px;
    vertical-align: middle;
    background-color: white;
    top: 100px;
}
.content_sale_own >div{
    /*border: 1px solid #cbced1;
    border-radius: 3px;*/
    margin: 0px auto;
    text-align: center;
    width: 60%;	
    height: 100%;
    vertical-align: middle;
    padding-top: 14px;
}
.content_sale_own a {
	display:inline-block;
	/*float:left;*/
	/*position:absolute;*/
	width: 98px;
	height: 32px;
	font-size: 28px;
	line-height: 28px;
	color: #21262B;
	background-image: url(../images/sl_sort_white_icn.png) ;
	background-repeat: no-repeat;
	background-position: 90% 50%;
	text-align: left;
}
.content_sale_own a:hover {
	color: #f04e30;
	background-image: url(../images/sl_sort_red_icn.png) ;
}
.content_sale_own  img{
	vertical-align: middle;
	padding: 0px 60px;
}
/* */
.bg_content_nochecked{
	width: 100%;
	height: 100%;
	background-color: rgba(62,69,77,0.5);
	position: absolute;
	top: 0;
	z-index: 10;
}
.bg{
	width:100%;
	height:100%;
	position:fixed;
	top:0;
	left:0;
	background-color:#a3a3a3;
	filter:alpha(opacity=50); 
	-moz-opacity:0.5; 
	-khtml-opacity: 0.5; 
	opacity: 0.3;
	z-index:8;
}
.content_session{
    width: 500px;
    background-color: white;
    border-radius: 10px;
    position: fixed;
    top: 156px;
    left: 50%;
    -webkit-transform: translate(-50%,-0%);
    -moz-transform: translate(-50%,-0%);
    z-index: 13;
}
.warning{
    text-align: center;
    margin: 98px auto 30px;
}
.content_session p {
    color: #21262b;
    padding: 0 42px;
    text-align: center;
}
.content_session button{
    width: 200px;
    height: 68px;
    color: white;
    font-size: 32px;
    background-color: #f04e30;
    border-radius: 7px;
    margin: 25px 150px 30px;
}
.content_session .contact,.content_session .chongzhi{
	margin-left: 40px;
	margin-right: 0px;
}
.content_session .cancel,
.content_session .cancel_contact{
	margin-left: 20px;
	margin-right: 0;
    background-color: #a4aab0;
}

.hiddenDiv{
	background-color:#fafafa;
	width:64%;
	height:210px;
	position:absolute;
	top:35%;
	left:18%;
	z-index:11;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius:10px;
	padding: 0 10px;
}
.errorText{
	text-align: center;
	margin-top: 65px;
}
.errorImg{
	/*float:left;*/
	/*margin-top:40px;*/
	/*margin-left:5%;*/
	width:5%;
	text-align:center;
	
}
.errorInfo{
	/*float:left;*/
	/*margin-top:40px;*/
	margin-left:5%;
	/*width:85%;*/
	text-align:left;
	font-size:28px;
	line-height:28px;
	font-family:DSF;
	color:#1e1e1e;
}
.errorBtn{
	margin-top:25px;
	margin-left:35%;
	width:30%;
	height:44px;
	color:#f0f0f0;
	line-height:44px;
	font-size:28px;
	font-family:DSF;
	background-color:#f04e30;
	border:0px;
	outline:none;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius:5px;
}	
	
/*===========================================================footer===================================================*/
/*footer{
    width: 720px;
    height: 122px;
    background-color: white;
    border-top: 1px solid #cbced1;
    margin: 0 auto;
    position: fixed;
    bottom: 0;
}
footer .menu_sale{
    background:url(../images/menu_sale_on.png) no-repeat 66px 15px;
}
footer .menu_pipei{
    background:url(../images/menu_pipei_off.png) no-repeat 66px 15px;
}
footer .menu_zhanghu{
    background:url(../images/menu_zhanghu_off.png) no-repeat  66px 15px;
}
footer .menu_more{
    background:url(../images/menu_more_off.png) no-repeat 64px 15px;
}
footer .selected .menu_sale{
    background:url(../images/menu_sale_on.png) no-repeat 66px 15px;
}
footer .selected .menu_pipei{
    background:url(../images/menu_sale_on.png) no-repeat  66px 15px;
}
footer .selected .menu_zhanghu{
    background:url(../images/menu_sale_on.png) no-repeat  66px 15px;
}
footer .selected .menu_more{
    background:url(../images/menu_sale_on.png) no-repeat  64px 15px;
}
footer ul li{
    float: left;
}
footer a{
    display: inline-block;
    color: #5d656e;
    width: 180px;
    line-height: 28px;
    padding: 80px 0 15px;
    text-align: center;
}
footer  .selected a{
    color: #bd3c26;
}*/